#contact-popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--color-text);

    z-index: 1;
}

#contact-popup.loaded {
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#contact-popup.toggled {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    max-height: 80vh;
    overflow: auto;
    display: flex;

    flex-direction: column;

    background-color: var(--color-theme);
    padding: 30px;

    box-shadow: var(--shadow-out);
}
