@media (max-width: 1100px) {
    .container {
        flex-direction: column;
        --container-margin: var(--default-section-margin) 0 0 0 !important;
    }

    .content-text {
        flex-direction: column;
        --element-margin: var(--default-section-margin) 0 0 0 !important;
    }

    .content-text > p {
        text-align: center !important;
    }

    #secondary {
        margin-top: 100px;
    }

    :root{
        --default-section-margin: 50px;
    }
}

@media (max-width: 700px) {
    #footer-content {
        flex-direction: column;
    }

    #footer-menu {
        flex-direction: column;
    }

    #secondary {
        margin-bottom: 400px;
    }
}

@media (max-width: 330px) {
    #page-header > .icon{
        display: none;
    }
}